export(BinomialDist)
export(ChisqDist)
export(CSUSBWeather)
export(DrawRegression)
export(DrawSegment)
export(EightBall)
export(ExcelDateToRDate)
export(expand.dft)
export(NormalApproximation)
export(NormalDist)
export(phyl.RMA.btest)
export(PoissonDist)
export(SSPlot)
export(Z_and_t)
